{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section id = "accepted-papers">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div>
            <h3>To access the ACM digital library page, please click <a href="https://dl.acm.org/doi/proceedings/10.1145/3464298" target="_blank">here</a>.</h3>
          </div>
          <div>
            <h1>{{ $data.acceptedpapers.paperInfo.research.title }}</h1>
            <table class="table table-bordered table-hover text-center">
              <thead class="bg-gray">
                <tr>
                  <th class="text-center">No.</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">Author</th>
                </tr>
              </thead>
              <tbody>
                {{ range $data.acceptedpapers.paperInfo.research.fields }}
                <tr>
                  <td>{{ .Number | markdownify}}</td>
                  <td style="width:50%">{{ .Title | markdownify}}</td>
                  <td style="width:50%">{{ .Author | markdownify}}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>

          <div>
            <h1>{{ $data.acceptedpapers.paperInfo.industry.title }}</h1>
            <table class="table table-bordered table-hover text-center">
              <thead class="bg-gray">
                <tr>
                  <th class="text-center">No.</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">Author</th>
                </tr>
              </thead>
              <tbody>
                {{ range $data.acceptedpapers.paperInfo.industry.fields }}
                <tr>
                  <td>{{ .Number | markdownify}}</td>
                  <td style="width:50%">{{ .Title | markdownify}}</td>
                  <td style="width:50%">{{ .Author | markdownify}}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>

          <div>
            <h1>{{ $data.acceptedpapers.paperInfo.DS.title }}</h1>
            <table class="table table-bordered table-hover text-center">
              <thead class="bg-gray">
                <tr>
                  <th class="text-center">No.</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">Author</th>
                </tr>
              </thead>
              <tbody>
                {{ range $data.acceptedpapers.paperInfo.DS.fields }}
                <tr>
                  <td>{{ .Number | markdownify}}</td>
                  <td style="width:50%">{{ .Title | markdownify}}</td>
                  <td style="width:50%">{{ .Author | markdownify}}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>

          <div>
            <h1>{{ $data.acceptedpapers.paperInfo.DP.title }}</h1>
            <table class="table table-bordered table-hover text-center">
              <thead class="bg-gray">
                <tr>
                  <th class="text-center">No.</th>
                  <th class="text-center">Title</th>
                  <th class="text-center">Author</th>
                </tr>
              </thead>
              <tbody>
                {{ range $data.acceptedpapers.paperInfo.DP.fields }}
                <tr>
                  <td>{{ .Number | markdownify}}</td>
                  <td style="width:50%">{{ .Title | markdownify}}</td>
                  <td style="width:50%">{{ .Author | markdownify}}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
