<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 500, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section id = "call-for-doctoral-symposium">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div>
            <div style="margin-top:60px;">
              <p>Please see <a href=#presentation style="color:red">this section</a> for the doctoral symposium presentation instructions.</p>
              <p>Please see <a href=#dsProgram style="color:red">this section</a> for the doctoral symposium program.</p>
            </div>
            <h1>{{ $data.callfordoctoralsymposium.pageTitle }}</h1>
            <p align="justify">The annual ACM/IFIP Middleware conference will include a doctoral symposium, to which all PhD students working on the topics of the Middleware conference are invited to apply. The doctoral symposium will be held prior to the main conference.</p>
            <p align="justify">The goal of the doctoral symposium is to provide a welcoming and supportive environment where PhD students working in related fields can receive feedback, discuss their work, and prepare to get the most out of their participation in the main conference. All participating students will be offered the opportunity to engage with their peers, as well as with senior academic and industrial members of the Middleware community. This will include the feedback of panel members on the day of the symposium and individual meetings with a personal mentor during the conference. The symposium is open to PhD students at any stage of their studies.</p>
          </div>
          <div>
            <p align="justify">Applicants will be divided into two groups: </p>
            {{ range $data.callfordoctoralsymposium.applicants }}
            <ul class="default-ul">
              <li align="justify"><b>{{ .title }}: </b>{{ .text }}</li>
            </ul>
            {{ end }}
            <p align="justify">All PhD students carrying out research on middleware topics are invited to submit a position paper to the doctoral symposium. Papers will be peer-reviewed by the symposium’s committee of selected mentors. The criteria for accepting papers includes the extent of the contribution of the work to the field, the originality of the problem, and the overall quality of the position paper. Position papers should fit within the research topics of the Middleware 2021 main conference.</p>
          </div>
          <div>
            <h1>SUBMISSION GUIDELINES</h1>
            <p align="justify">Position papers are limited to 2 pages (for early-stage research students) or 4 pages (for late-stage research students). Students should identify the category they belong to.  Submissions must use the same format as for the research papers. The suggested format is detailed on the Middleware 2021 website. Please see the submission format for the research track. </p>
            <p align="justify">The submissions should include an author name and associated affiliation: the only author should be the PhD student (other contributors, e.g., the PhD student’s advisor(s), can be acknowledged in a separate section at the end). The students should ask a letter of reference from their PhD advisor, which should accompany the submission.</p>
            <p align="justify">Contributions to the Middleware 2021 Doctoral symposium will appear in the proceedings that supplements the main conference proceedings.</p>
            <p align="justify">Accepted position paper will lead to a presentation during the doctoral symposium.</p>
            <ul class="default-ul">
              <li>Presentation format: Please see <a href=#presentation style="color:red">this section</a>.</li>
            </ul>
          </div>
          <div>
            <h1>IMPORTANT DATES</h1>
            {{ range $data.callfordoctoralsymposium.importantDates }}
            <ul class="default-ul">
              <li align="justify">{{ .event }}: <b>{{ .date | markdownify }}</b></li>
            </ul>
            {{ end }}
            <p align="justify"><b>All deadlines are 23:59 AOE</b>.</p>
          </div>
          <div>
            <h1>SUBMISSION WEBSITE</h1>
            <p align="justify">Submissions will be handled through HotCRP: <a href="https://middleware2021ds.hotcrp.com/" target="_blank">https://middleware2021ds.hotcrp.com/</a></p>
          </div>
          <div>
            <h1>STUDENT TRAVEL GRANTS</h1>
            <p align="justify">Doctoral students that submit their work to this symposium are strongly encouraged to apply for student travel grants to attend Middleware 2021. Students participating in the doctoral symposium will be given priority for the travel grants.</p>
            <p align="justify">Please see the conference website for more details about the student travel grant.</p>
          </div>
          <div id="presentation">

          </div>
          <div>
            <h1>{{ $data.callfordoctoralsymposium.presentation.title }}</h1>
            {{ range $data.callfordoctoralsymposium.presentation.texts }}
              <p align = "justify">{{.text | markdownify}}</p>
            {{ end }}
          </div>
          <div>
            <h2>{{ $data.callfordoctoralsymposium.presentation.details.title }}</h2>
            {{ range $data.callfordoctoralsymposium.presentation.details.texts }}
              <p align = "justify">{{.text | markdownify}}</p>
            {{ end }}
          </div>
          <div>
            <h2>{{ $data.callfordoctoralsymposium.presentation.QA.title }}</h2>
            {{ range $data.callfordoctoralsymposium.presentation.QA.texts }}
              <p align = "justify">{{.text | markdownify}}</p>
            {{ end }}
          </div>
          <div>
            <h2>{{ $data.callfordoctoralsymposium.presentation.content.title }}</h2>
            {{ range $data.callfordoctoralsymposium.presentation.content.texts }}
              <p align = "justify">{{.text | markdownify}}</p>
            {{ end }}
          </div>
          <div>
            <h2>{{ $data.callfordoctoralsymposium.presentation.resources.title }}</h2>
            {{ range $data.callfordoctoralsymposium.presentation.resources.texts }}
              <p align = "justify">{{.text | markdownify}}</p>
            {{ end }}
          </div>
          <div id="dsProgram">

          </div>
          <div>
            <h1>PROGRAM</h1>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="bg-gray">
                <tr>
                  <th style="width:20%;">Time (EST)</th>
                  <th style="width:20%;">Time (CET)</th>
                  <th style="width:60%;">Doctoral Symposium (Monday, December 6th)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>(8h50-9h00)</td>
                  <td>14h50-15h00</td>
                  <td>DS Opening Ceremony</td>
                </tr>
                <tr>
                  <td>(9h00-10h00)</td>
                  <td>15h00-16h00</td>
                  <td><b>Keynote</b><br>Professor Douglas Schmidt<br>Talk title: TBD</td>
                </tr>
                <tr>
                  <td>(10h00-10h30)</td>
                  <td>16h00-16h30</td>
                  <td>Coffee Break</td>
                </tr>
                <tr>
                  <td>(10h30-11h30)</td>
                  <td>16h30-17h30</td>
                  <td><b>Machine Learning Session</b><br><b>Session chairs:</b> TBD<br><br>1) Jawad Tahir - "Config 2.0: Towards Reinforcement Learning Based Configuration of Stream Processing Systems"<br>2) Lorena Poenaru-Olaru - "AutoML: Towards Automation of Machine Learning Systems Maintainability"<br>3)Gizem Nur Karagoz - "Multi-Objective Evolutionary Based Feature Selection Supported by Distributed Multi-Label Classification and Deep Learning on Image/Video Data"<br>4) Aswathy Ravikumar - "Non-Relational Multi-Level Caching for Mitigation of Staleness & Stragglers in Distributed Deep Learning"<br><br><b>10 minute each – Followed by a joint discussion in a Q/A  session</b></td>
                </tr>
                <tr>
                  <td>(11h30-13h00)</td>
                  <td>17h40-19h00</td>
                  <td>Lunch</td>
                </tr>
                <tr>
                  <td>(13h00~14h00)</td>
                  <td>19h00~20h00</td>
                  <td><b>Systems Session</b><br><b>Session chairs:</b> TBD<br><br>1) Kumseok Jung - "OneOS: A Distributed Operating System for the Internet of Things"<br>2) Pratyush Agnihotri - "Autonomous Resource Management in Distributed Stream Processing Systems"<br>3) Hugo Lefeuvre - "FlexOS: Easy Specialization of OS Safety Properties"<br><br><b>10 minute each – Followed by a joint discussion in a Q/A  session</b></td>
                </tr>
                <tr>
                  <td>(14h00-14h15)</td>
                  <td>20h00-20h15</td>
                  <td>Coffee Break</td>
                </tr>
                <tr>
                  <td>(14h15 - 15h15)</td>
                  <td>20h15-21h15</td>
                  <td><b>Blockchains Session</b><br><b>Session chairs:</b> TBD<br><br>1) Stefano Loss - "Using Blockchain to provide trusted interoperability to System-of-Systems in Smart Cities context"<br>2) Vahid Heidaripour Lakhani - "Token-Based Incentive Schemes in Decentralized P2P Storage Networks"<br>3) Parwat Singh Anjana - "Efficient Parallel Execution of Block Transactions in Blockchain"<br>4) Andreea Elena Dragnoiu - "Using Blockchain Technology for Software Identity Maintenance"<br><br><b>10 minute each – Followed by a joint discussion in a Q/A  session</b></td>
                </tr>
                <tr>
                  <td>(15h15-15h30)</td>
                  <td>21h15-21h30</td>
                  <td>Closing remarks</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div>
            <div>
              <div class="mb-30">
                <h1>Keynote Speaker</h1>
              </div>
              <div class="col-md-3 mb-10">
                {{ $data.callfordoctoralsymposium.keynote.img | markdownify }}
              </div>
            </div>
            <div class="col-md-9">
              <div class="mb-10">
                <p style="color: #655E7A; font-size:30px;">{{ $data.callfordoctoralsymposium.keynote.name | markdownify }}</p>
                <p style="font-size:20px;">{{ $data.callfordoctoralsymposium.keynote.university | markdownify }}</p>
                <p style="font-size:18px;">{{ $data.callfordoctoralsymposium.keynote.title | markdownify }}</p>
              </div>
            </div>
            <div  class="col-md-12">
              <p><b>Abstract</b></p>
              <p align = "justify">Software has become essential to modern life and controls functions as diverse as the capabilities for home appliances, aircraft flight control systems, mobile phones, health care systems, financial transactions, and digital learning. Individuals, organizations, markets, and governments are increasingly dependent on software. Despite advances in computing and software technologies, however, we continue to see headlines about failures related to software, particularly distributed real-time and embedded software.</p>
              <p align = "justify">This presentation will cover investments and advances in research needed to address these issues.  In particular, I will discuss how the current notion of software development will be replaced by one where the software pipeline consists of AI and humans collaborating at scale on continuously evolving systems.  These software-enabled systems will be even more pervasive than today, with levels of trust commensurate with the importance of the decisions they make.</p>
              <p align = "justify">I will also discuss how software and humans need to become mutually trustworthy peers comprising socio-technical ecosystems, where human expressions of intent are reliably understood and socio-technical platforms enable collaboration at scale, leading to socially resilient, ethical, and unbiased behavior.  Advances in compositional correctness and continuous reflection are also needed to allow intelligent systems to learn from experience and continuously improve.</p>
              <p align="justify">See <a href="https://resources.sei.cmu.edu/library/asset-view.cfm?assetid=741193" target="_blank">resources.sei.cmu.edu/library/asset-view.cfm?assetid=741193</a> for more information on this topic.</p>
              <p><b>Biography</b></p>
              <p align = "justify">Dr. Douglas C. Schmidt is the Cornelius Vanderbilt Professor of Computer Science, Associate Provost for Research Development and Technologies, Co-Chair of the Data Science Institute, and a Senior Researcher at the Institute for Software Integrated Systems at Vanderbilt University.  He is also a Visiting Scientist at the Software Engineering Institute (SEI) at Carnegie Mellon University (CMU), where he served as the Chief Technology Officer from 2010 to 2012.<p>
              <p align = "justify">Dr. Schmidt's research covers a range of software-related topics, including patterns, optimization techniques, and empirical analyses of frameworks and model-driven engineering tools that facilitate the development of mission-critical middleware for distributed real-time embedded (DRE) systems and mobile cloud computing applications running over wireless/wired networks and embedded system interconnects. He has published 650+ technical papers and books that have been cited 44,900+ times, his h-index is 87, and he has mentored and graduated over 40 Ph.D. and Masters students.</p>
              <p align = "justify">Dr. Schmidt led the development of ACE, TAO, CIAO, and CoSMIC for the past three decades.  These open-source middleware frameworks and model-driven tools constitute some of the most successful examples of software R&D ever transitioned from research to industry, being widely used by thousands of companies and agencies worldwide in many domains, including national defense and homeland security, datacom/telecom, financial services, healthcare, and online gaming.</p>
              <p align = "justify">Dr. Schmidt received B.A. and M.A. degrees in Sociology from the College of William and Mary in Williamsburg, Virginia, and an M.S. and a Ph.D. in Computer Science from the University of California, Irvine (UCI) in 1984, 1986, 1990, and 1994, respectively.</p>
              <hr>
            </div>
          </div>

          <div class="col-md-9 col-sm-12">
            <h1>DOCTORAL SYMPOSIUM CHAIRS</h1>
            <p align="justify">For any further questions, please contact the Middleware 2021 Doctoral Symposium chairs.</p>
            {{ range $data.callfordoctoralsymposium.chairs }}
            <ul class="default-ul">
              <li>{{ .person }}: <a href="mailto:{{ .email }}">{{ .email }}</a></li>
            </ul>
            {{ end }}
          </div>
          <div class="col-md-9 col-sm-12">
            For the camera-ready instructions, please visit the <a href="https://middleware-conf.github.io/2021/camera-ready-instructions/">camera-ready instructions page</a>.
          </div>
          <div class="col-sm-12">
            <h3 align="justify">The Middleware conference adheres strictly to the <a href="https://www.acm.org/special-interest-groups/volunteer-resources/officers-manual/policy-against-discrimination-and-harassment" target = _blank>ACM policies against discrimination and harassment</a>.</h3>
          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
