{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section id = "call-for-doctoral-symposium">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div>
            <h1>{{ $data.callfordoctoralsymposium.objective.title }}</h1>
            {{ range $data.callfordoctoralsymposium.objective.texts }}
              <p align="justify">{{ .text }}</p>
            {{ end }}
          </div>
          <div>
            {{ range $data.callfordoctoralsymposium.eligibility }}
            <h1>{{ .title }}</h1>
            <p align="justify">{{ .text }}</p>
            {{ end }}
          </div>
          <div>
            <h1>{{ $data.callfordoctoralsymposium.importantDates }}</h1>
            {{ range $data.callfordoctoralsymposium.dates.list }}
            {{.info | markdownify}}
            {{ end }}
          </div>
          <div>
            {{ range $data.callfordoctoralsymposium.submissionGuidelines }}
            <h1>{{ .title }}</h1>
            <p align="justify">{{ .text1 }}</p>

            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <tbody>
                  {{ range $data.callfordoctoralsymposium.events.eventsList }}
                  <tr>
                    <td>{{.type | markdownify}}</td>
                    <td>{{.info | markdownify}}</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
            <p align="justify">{{ .text2 | markdownify }}</p>
            <p align="justify">{{ .text3 | markdownify }}</p>
            {{ end }}
          </div>
          <div style="margin-bottom: 90px">
            <h1>{{ $data.callfordoctoralsymposium.submission.title }}</h1>
            {{ range $data.callfordoctoralsymposium.submission.texts }}
              <p align="justify">{{ .text | markdownify }}</p>
            {{ end }}
          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
