{{ $data := index .Site.Data .Site.Language.Lang }}
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {{ range $data.sponsor.clients }}
            <div class="clients-logo-img">
              <a><img src="{{ .image }}" alt="Features"></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
