<div class="col-md-3 col-sm-12">
  <!-- <div class="block">
   <img src="{{ with .Site.Params.wrapper.image }} {{ . | absURL }} {{ end }}" alt="Img">
  </div> -->


  {{ $data := index .Site.Data .Site.Language.Lang }}
  {{ if $data.sidebar.events.enable }}
  <h3 class="font-weight-regular mb-20">{{$data.sidebar.events.title}}</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
      <thead class="bg-gray">
        <tr>
          <th class="text-center">Events</th>
          <th class="text-center">Dates</th>
        </tr>
      </thead>
      <tbody>
        {{ range $data.sidebar.events.eventsList }}
        <tr>
          <td>{{.event | markdownify}}</td>
          <td>{{.date | markdownify}}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  {{ end }}
  {{ if $data.sidebar.twitterFeed.enable }}
  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/{{$data.sidebar.twitterFeed.userID}}?lang=en" data-height="390" data-chrome="nofooter" data-link-color="#55acee" data-border-color="#DCDCDC">A Twitter List by TwitterDev</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  {{ end }}
</div><!-- .col-md-5 close -->
