{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section id = "tutorials">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div>
            <h3><b>{{ $data.tutorials.tutorial1.title | markdownify }}</b></h3>
            <h2>{{ $data.tutorials.tutorial1.abstractTitle }}</h2>
            {{ range $data.tutorials.tutorial1.abstractParagraphs }}
            <p align="justify">{{ .text | markdownify }}</p>
            {{end}}
            <h2>{{ $data.tutorials.tutorial1.biographyTitle }}</h2>
            {{ range $data.tutorials.tutorial1.biographyParagraphs }}
            <p align="justify">{{ .text | markdownify }}</p>
            {{end}}
            <h2>{{ $data.tutorials.tutorial1.contactTitle }}</h2>
            {{ range $data.tutorials.tutorial1.contactParagraphs }}
            <p>{{ .text | markdownify }}</p>
            {{end}}
          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
